<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/home">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/survey">
          <i class="bi bi-menu-button-wide"></i>
          <span>Survey Control</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/responses">
          <i class="bi bi-menu-button-wide"></i>
          <span>Survey Responses</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/profile">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li>

    </ul>

  </aside>